<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior0">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetadataBehavior0" name="WCFService_2Way_115.ServiceCallBack">
                <endpoint address="" name="EndpointService"
                    binding="wsDualHttpBinding" bindingConfiguration="" contract="WCFService_2Way_115.IServiceCallback" />
                <endpoint address="mex" behaviorConfiguration="" binding="mexHttpBinding"
                    name="EndPointMex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1907" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>